.website-header {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    padding: 0 5rem;
    z-index: 5000;
    background-color: var(--white);
}

.modal-container {
    display: flex;
    justify-content: center;
}

.band-title {
    font-weight: 700;
    font-size: 35px;
}

ul {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

ul li {
    list-style-type: none;
}

ul li:first-child {
    margin: 0 15px;
}

.btn {
    padding: 0.4rem 3rem;
}

a {
    text-decoration: none;
}

.menu-burger {
    display: none;
}

@media screen and (max-width: 768px)
{
    .menu-burger {
        display: block;
    }

    .menu-connect {
        display: none;
    }

    .menu-register {
        display: none;
    }
}