.website-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    padding: 0 5rem;
}

.band-title {
    font-weight: 700;
    font-size: 35px;
}

ul {
    display: flex;
    align-items: center;
}

:root {
    --padding-side: 0 5rem
}

nav ul {
    display: flex;
}

ul li {
    list-style-type: none;
}

ul li:first-child {
    margin: 0 15px;
}

.btn {
    width: 13vw;
    height: 4.5vh;
}

.btn-full, .btn-empty {
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.btn-full {
    background-color: #337bfe;
    color: #fdfeff;
    border: 2px solid #337bfe;
}

.btn-empty {
    background-color: #fdfeff;
    border: 2px solid #337bfe;
    color: #337bfe;
}

.btn-full:hover {
    background-color: #fdfeff;
    color: #337bfe;
    border-color: #337bfe;
}

.btn-empty:hover {
    background-color: #337bfe;
    color: #fdfeff;
}

a {
    text-decoration: none;
}