.pres-content {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
}

.content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}

.secure-content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}

.content-container *, .secure-content-container * {
    margin: 10px 0;
}

.button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.button-container button {
    height: 5vh;
}

.pres {
    display: flex;
}

.try {
    padding: var(--padding-side);
}

.cloud img {
    width: 90%;
    height: auto;
}

.separation {
    text-align: center;
}

.down-arrow {
    margin-top: 1rem;
}

.discover {
    margin-top: 2rem;
}

.secure-content-container {
    width: 100%;
}

.secure {
    display: flex;
}

.reassurance {
    margin-top: 5rem;
}

.reassurance-title {
    display: flex;
    justify-content: center;
    text-align: center;
}

.reassurance-pictures-container {
    display: flex;
    justify-content: space-around;
    padding: var(--padding-side);
    margin-top: 3rem;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reassurance-picture {
    width: 20rem;
}

.text-container {
    width: 25rem;
    margin-top: 2rem;
    text-align: center;
}

@media screen and (max-width: 768px)
{
    .pres, .secure {
        flex-direction: column;
    }

    .pres-content {
        width: 100%;
    }

    .content-container {
        width: 100%;
    }

    .secure-content {
        display: flex;
            align-items: center;
    }

    .cloud {
        align-items: center;
    }

    .reassurance-pictures-container {
        flex-wrap: wrap;
    }

    .img-container:first-child {
        margin-bottom: 3rem;
    }

}