.registration-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profil-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profil-user-container:first-child {
    margin-bottom: 2rem;
}

.picture-user-connexion {
    margin-bottom: 2rem;
}

.picture-user-connexion {
    width: 10rem;
    height: auto;
}

.register-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-user-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-label-container {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.form-content-container:first-child {

}

.form-content-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
}

.form-label-container:last-child {
    margin-left: 4rem;
}

.register-with-other {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.register-with-other .connect-with-other:last-child {
    margin-left: 2rem;
}

.register-button-container {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.submit {
    padding: 0 1rem;
}

@media screen and (max-width: 768px)
{
    .form-content-container {
        flex-direction: column;
        align-items: center;
    }

    .form-label-container:last-child {
        margin-left: 0;
        margin-top: 15px;
    }

    .form-label-container {
        width: 80%;
    }

    .register-with-other {
        flex-wrap: wrap;
    }

    .register-with-other .connect-with-other:last-child {
        margin-left: 0;
        margin-top: 15px;
    }
}