@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --padding-side: 0 5rem;
    --white: #fdfeff;
    --blue: #337bfe;
    --dark: #3f4040;
}

span {
    color: var(--blue);
}

h1, h2 {
    font-size: 40px;
}

h2 {
    font-weight: bold;
}

p, button, .menu-connect {
    font-weight: 600;
}

.subtitle {
    font-weight: 400;
}

a {
    color: var(--dark);
}